{% extends 'overall/layout' %}
{% block appHeader %}

        <div id="navbar">

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <!-- Brand -->
          <a class="navbar-brand" href="http://localhost/HomeSwitchHome/"><div><img src="app/img/HSH-Text.jpg" class="img-responsive" title="Logo Home Switch Home" style="width:180px;"></div></a>

          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="http://localhost/HomeSwitchHome/usuarios/cuenta/logout"><span class="glyphicon glyphicon-log-out"></span>   Cerrar Sesion</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle my-2 my-lg-0" href="#" id="navbardrop" data-toggle="dropdown">
                More
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-question-sign"> FAQs</a>
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-envelope"> Contacto</a>
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Subastas</a>
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Hotsales</a>
              </div>
            </li>
          </ul>
        </nav>

        </div> 
    {% endblock %}

{% block carrousel %}
	
	<div id="div_listar_residencias" class="py-5 bg-light">
	    <div class="container">
	      
	      <div class="container">
	      	<a href="http://localhost/HomeSwitchHome"><button id="atras" class="btn btn-secondary my-2">Atrás</button></a>
	      </div>

	      <p class="lead text-muted">Lista de usuarios: </p>

	      {% if usuarios == false %}
	        <div class="alert alert-danger alert-dismissible">
	          <button type="button" class="close" data-dismiss="alert">&times;</button>
	          <strong class="animated flash"><span class="glyphicon glyphicon-exclamation-sign"></span></strong> ¡Lo sentimos! No hay residencias cargadas para mostrar.
	        </div>
	      {% endif %}


	      <div class="container-fluid row">

	      	{% for u in usuarios %}
	      		
	        	<div id="lista_usuarios" class="border container-fluid col-lg-4">
		      		<div class="container-fluid">
			            <img id="fotoRedondelHL" src="{{ u.foto }}" class="bd-placeholder-img rounded-circle" >
			        </div>
			        <h2 class="center-block"><span class="glyphicon glyphicon-user"></span> {{ u.nombre }} {{ u.apellido }} </h2>
			        <li class="list-group-item"><span class="glyphicon glyphicon-envelope"></span> Email: {{ u.email }}</li>
			        <li class="list-group-item"><span class="glyphicon glyphicon-calendar"></span> Fecha de nacimiento: {{ u.fecha_nacimiento|date("d/m/y") }}</li>
			        <li class="list-group-item"><span class="glyphicon glyphicon-calendar"></span> Fecha de regsitro: {{ u.fecha_registro|date("d/m/y") }}</li>
			        <li class="list-group-item"><span class="glyphicon glyphicon-phone"></span> Telefono: {{ u.telefono }}</li>
			        <li id="rol" class="list-group-item">{{ u.rol }}</li>
			        <p><a class="center-block btn btn-secondary" href="http://localhost/HomeSwitchHome/admin/usuarios/detalle?id={{ u.id }}" role="button">Ver detalle</a></p>

			    </div>

	        {% endfor %}

	    
	      </div>

	      
	    </div>
	</div>
	
	   
{% endblock %}
{% block appContenido%} {% endblock %}
{% block appBody%} {% endblock %}