{% extends 'overall/layout' %}

{% block appHeader %}

        <div id="navbar">

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <!-- Brand -->
          <a class="navbar-brand" href="http://localhost/HomeSwitchHome/"><div><img src="app/img/HSH-Text.jpg" class="img-responsive" title="Logo Home Switch Home" style="width:180px;"></div></a>

          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="http://localhost/HomeSwitchHome/usuarios/perfil"><span class="glyphicon glyphicon-user"></span>  Mi perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost/HomeSwitchHome/usuarios/logout"><span class="glyphicon glyphicon-log-in"></span>   Cerrar Sesion</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle my-2 my-lg-0" href="#" id="navbardrop" data-toggle="dropdown">
                More
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-question-sign"> FAQs</a>
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-envelope"> Contacto</a>
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Subastas</a>
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Hotsales</a>
              </div>
            </li>
          </ul>
        </nav>

        </div> 
    {% endblock %}

{% block carrousel %}
{% endblock %}

{% block appContenido %}
		
	<div class="border container">
    <h2>{{ nombre }} {{ apellido }}</h2>
    <div class_"row">
      <ul class="list-group list-group-flush col-lg-8">
        <li class="list-group-item"><span class="glyphicon glyphicon-envelope"></span> Email: {{ email }}</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-user"></span> Tipo de usuario: {{ rol }}</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-earphone"></span> Teléfono: {{ telefono }}</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-calendar"></span> Fecha de nacimiento: {{ fecha_nacimiento }}</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-usd"></span> Créditos: <span class="badge badge-primary badge-pill creditos">{{ creditos }}</span></li>
        <li class="list-group-item"><span class="glyphicon glyphicon-envelope"></span> Marca tarjeta: {{ marca_tarjeta }}</li>
      </ul>
      <img src="app/img/residencia2.jpeg" class="perfil float-right col-lg-4" alt="Foto de perfil">  
    </div>
  </div>
  <br>

{% block appBody %}
{% endblock %}

{% endblock %}


