{% extends 'overall/layout' %}

{% block appHeader %}

  <div id="navbar">

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="http://localhost/HomeSwitchHome/"><div><img src="app/img/HSH-Text.jpg" class="img-responsive" title="Logo Home Switch Home" style="width:180px;"></div></a>

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="http://localhost/HomeSwitchHome/usuarios/operaciones/perfil"><span class="glyphicon glyphicon-user"></span>  Mi perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost/HomeSwitchHome/usuarios/cuenta/logout"><span class="glyphicon glyphicon-log-out"></span>   Cerrar Sesion</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle my-2 my-lg-0" href="#" id="navbardrop" data-toggle="dropdown">
          More
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-question-sign"> FAQs</a>
          <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-envelope"> Contacto</a>
          <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Subastas</a>
          <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Hotsales</a>
        </div>
      </li>
    </ul>
  </nav>

  </div>
{% endblock %}

{% block carrousel %}
{% endblock %}

{% block appContenido %}

    <div class="container">
      <a href="http://localhost/HomeSwitchHome"><button id="atras" class="btn btn-secondary my-2">Atrás</button></a>
    </div>

	<div class="border container">
    <div class="container center-block">
      <h2 class="perfil center-block">{{ usuario.nombre }} {{ usuario.apellido }}</h2>
    </div>
    <div class_"row">
      <ul class="list-group list-group-flush col-lg-8">
        <li class="perfil list-group-item"><span class="glyphicon glyphicon-envelope"></span><strong> Email:</strong> {{ usuario.email }}</li>
        <li class="perfil list-group-item"><span class="glyphicon glyphicon-user"></span><strong> Tipo de usuario:</strong> {{ usuario.rol }}</li>
        <li class="perfil list-group-item"><span class="glyphicon glyphicon-earphone"></span><strong> Teléfono:</strong> {{ usuario.telefono }}</li>
        <li class="perfil list-group-item"><span class="glyphicon glyphicon-calendar"></span><strong> Fecha de nacimiento:</strong> {{ usuario.fecha_nacimiento|date("d/m/Y") }}</li>
        <li class="perfil list-group-item"><span class="glyphicon glyphicon-usd"></span><strong> Créditos:</strong> <span class="badge badge-primary badge-pill creditos">{{ usuario.creditos }}</span>
          {% if usuario.creditos > 0 %}
            &nbsp;Vencimiento: {{ usuario.fecha_registro|date_modify("+1 year")|date("d/m/Y") }}
          {% endif %}
        </li>

        {% if tarjetas != null %}
          <br>
          <p id="tarjetas_perfil" class="lead"> Mis tarjetas asociadas: </p>

          <ul id="lista_tarjeta" class="list-group">

            {% for t in tarjetas %}


              {% if t.principal == 1 %}
                <li class="perfil list-group-item">
                  <div id="tarjeta_principal" class="alert alert-info">
                  <p id="numero"><span class="glyphicon glyphicon-ok"></span><strong> Principal: Terminada en:</strong> "{{ t.numero|slice(12,13,14,15) }}" <strong> - Marca:</strong> {{ t.marca }}</p>
                </div>
                </li>

              {% else %}

                <li class="perfil list-group-item">
                  <div class="adicionales" class="row">
                    <p class="col-lg-5" id="numero"><strong>Terminada en:</strong> "{{ t.numero|slice(12,13,14,15) }}" <strong> - Marca:</strong> {{ t.marca }}</p>
                    <a id="cambiar_principal" class="col-lg-3 center-block" href="http://localhost/HomeSwitchHome/usuarios/cambiar_principal/{{ t.id }}"><button id="atras" type="button" class="cambiar_principal center-block btn btn-info my-2">Cambiar a principal</button></a>
                    <a class="col-lg-3" id="trash" title="Eliminar tarjeta" href="http://localhost/HomeSwitchHome/usuarios/operaciones/eliminarTarjeta?id_tarjeta={{ t.id }}" onclick="return confirmation();"><span id="trash" class="glyphicon glyphicon-trash"></span></a>
                  </div>
                </li>

              {% endif %}

            {% endfor %}

          </ul>

        {% endif %}


        <li class="perfil list-unstyled">
          <div class="row">

            {% if usuario.rol == "ESTANDAR" %}
              <a class="premium col-md-3" href="http://localhost/HomeSwitchHome/usuarios/faqs"><button id="atras" class="center-block btn btn-secondary my-2">¡Quiero ser Premium!</button></a>
            {% endif %}
            <a id="modificar" class="col-md-3" href="http://localhost/HomeSwitchHome/usuarios/operaciones/modificar_perfil?id={{ usuario.id }}"><button id="atras" class="center-block btn btn-secondary my-2">Modificar datos personales</button></a>
            <a id="modificar" class="col-md-3" href="http://localhost/HomeSwitchHome/usuarios/operaciones/modificar_perfil?id={{ usuario.id }}"><button id="atras" class="center-block btn btn-secondary my-2">Aregar tarjeta</button></a>
          <br><br><br>
          </div>
        </li>
      </ul>
      <img src="{{ usuario.foto }}" class="perfil float-right col-lg-4" alt="Foto de perfil">
    </div>

  </div>
  <br>

{% block appBody %}
{% endblock %}

{% endblock %}
