{% extends 'overall/layout' %}
{% block appHeader %}

        <div id="navbar">

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <!-- Brand -->
          <a class="navbar-brand" href="http://localhost/HomeSwitchHome/"><div><img src="app/img/HSH-Text.jpg" class="img-responsive" title="Logo Home Switch Home" style="width:180px;"></div></a>

          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="http://localhost/HomeSwitchHome/usuarios/operaciones/perfil"><span class="glyphicon glyphicon-user"></span>  Mi perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost/HomeSwitchHome/usuarios/logout"><span class="glyphicon glyphicon-log-in"></span>   Cerrar Sesion</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle my-2 my-lg-0" href="#" id="navbardrop" data-toggle="dropdown">
                More
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-question-sign"> FAQs</a>
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-envelope"> Contacto</a>
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Subastas</a>
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Hotsales</a>
              </div>
            </li>
          </ul>
        </nav>

        </div> 
{% endblock %}

{% block carrousel %}
{% endblock %}

{% block appContenido %}    
		
		<div class="border container">
		   	 <h2>{{ residencia.nombre }}</h2>
		    <div class_"row">
		      <ul class="list-group list-group-flush col-lg-8">
		        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> <strong> Descripción: </strong>{{ residencia.descripcion }}</li>
		        <li class="list-group-item"><span class="glyphicon glyphicon-map-marker"></span><strong> Dirección:</strong> {{ residencia.calle }}, {{ residencia.altura }}, {{ residencia.ciudad }}, {{ residencia.provincia }}</li>
		        <li class="list-group-item"><span class="glyphicon glyphicon-user"></span> <strong>Capacidad:</strong> {{ residencia.capacidad }}</li>
		      </ul>
		      <img id="foto_detalle_residencia" src="{{ residencia.foto }}" class="perfil float-right col-lg-4" alt="Foto de perfil">  
		    </div>
	 	</div>
		<br>

    <section class="jumbotron text-center">
    <div class="container">
      <h1 id="h1_detalle" class="jumbotron">Estadías: </h1>
      <p id="p_detalle" class="lead text-muted">Usted puede reservar cualquier estadía</p>
      <ul>
        {% for e in estadias %}
            <div class="row">
              <p>Semana: {{ e.semana }}, monto: {{ e.monto }}, ocupada: {{ e.ocupada }}, caducada: {{ e.caducada }}</p>
              <div class="btn-group">
                <a href="#"><button type="button" class="btn btn-secondary">Reservar estadía</button></a>
              </div>            
            </div>
        {% endfor %}

      </ul>
    </div>
  </section>
   

{% endblock %}

{% block appBody %}
{% endblock %}

