{% extends 'overall/layout' %}
{% block appHeader %}

        <div id="navbar">

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <!-- Brand -->
          <a class="navbar-brand" href="http://localhost/HomeSwitchHome/"><div><img src="app/img/HSH-Text.jpg" class="img-responsive" title="Logo Home Switch Home" style="width:180px;"></div></a>

          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="http://localhost/HomeSwitchHome/usuarios/cuenta/logout"><span class="glyphicon glyphicon-log-out"></span>   Cerrar Sesion</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle my-2 my-lg-0" href="#" id="navbardrop" data-toggle="dropdown">
                More
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-question-sign"> FAQs</a>
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-envelope"> Contacto</a>
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Subastas</a>
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Hotsales</a>
              </div>
            </li>
          </ul>
        </nav>

        </div> 
    {% endblock %}

{% block carrousel %}
	
	<div id="div_listar_residencias" class="py-5 bg-light">
	    <div class="container">
	      {% if operacion == 1 and estadias_pendientes == 1 %}
	        <div class="alert alert-danger alert-dismissible">
	          <button type="button" class="close" data-dismiss="alert">&times;</button>
	          <strong class="animated flash"><span class="glyphicon glyphicon-exclamation-sign"></span> Error: </strong> La residencia no se puede eliminar porque tiene estadías pendientes.
	        </div>
	      {% endif %}

	      {% if operacion == 1 and estadias_pendientes == 0 %}
	        <div class="alert alert-success alert-dismissible">
	          <button type="button" class="close" data-dismiss="alert">&times;</button>
	          <strong class="animated flash"> <span class='glyphicon glyphicon-ok-sign'></span> Nota:</strong> ¡Residencia eliminada con éxito!
	        </div>
	      {% endif %}
	      <p class="lead text-muted">Lista de residencias: </p>
	      <a href="http://localhost/HomeSwitchHome"><button class="btn btn-secondary my-2">Atrás</button></a>


	      <div class="row">

	      	{% for r in residencias %}
	      		
	        <div id="card_residencia" class="col-md-4">
	          <div  id="card_residencia" class="card mb-4 shadow-sm">
	          	<p id="nombre_residencia" class="lead text-muted">{{ r.nombre }}:</p>
	            <img id="card_foto_residencia" src="{{ r.foto }}" class="card-img-top" >
	            <div class="card-body">
	            	<div id="p_card">
	            		<p><span class="glyphicon glyphicon-map-marker"></span> {{ r.calle }}, {{ r.altura }}, {{ r.ciudad }}, {{ r.provincia }}</p>
	              		<p class="card-text"> {{ r.descripcion }}</p>
	              	</div>
	                <div  class="d-flex justify-content-between align-items-left">
		                <div id="botones" class="container btn-group">
		                	<a href="http://localhost/HomeSwitchHome/residencias/detalle/{{ r.id }}" class="btn btn-secondary my-2">Ver detalles</a>
		                	<a href="http://localhost/HomeSwitchHome/admin/operaciones/editarResidencia?id_residencia={{ r.id }}" class="btn btn-secondary my-2">Editar</a>
		                	<a href="http://localhost/HomeSwitchHome/admin/operaciones/agregarEstadia?id_residencia={{ r.id }}" class="btn btn-secondary my-2">Crear estadía</a>
		                	<div id="">
			                	<a title="Eliminar residencia" href="http://localhost/HomeSwitchHome/admin/residencias/eliminar?id_residencia={{ r.id }}" onclick="return confirmation();"><span id="trash" class="glyphicon glyphicon-trash"></span></a>
			                </div>			                	
		                </div>
		                	                
	                </div>
	            </div>
	          </div>
	        </div>

	        {% endfor %}

	    
	   		 
	     
	      </div>

	      
	    </div>
	</div>
	
	   
{% endblock %}
{% block appContenido%} {% endblock %}
{% block appBody%} {% endblock %}