{% extends 'overall/layout' %}
{% block appHeader %}

  <div id="navbar">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="http://localhost/HomeSwitchHome/"><div><img src="app/img/HSH-Text.jpg" class="img-responsive" title="Logo Home Switch Home" style="width:180px;"></div></a>

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost/HomeSwitchHome/usuarios/cuenta/logout"><span class="glyphicon glyphicon-log-out"></span>  Cerrar Sesion</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            More
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-question-sign"> FAQs</a>
            <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-envelope"> Contacto</a>
            <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Subastas</a>
            <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Hotsales</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
{% endblock %}

{% block carrousel %}

  <body class="text-center" id="body_registrar">
      <div class="container" id="div_agregar_residencia">  
        <br>


        {% if pendientes == true %}
             <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong class="animated flash"><span class="glyphicon glyphicon-exclamation-sign"></span></strong> Esta residencia no se puede modificar ya que tiene estadías reservadas, en subasta o hotsale.
              </div>
          {% endif %}  
        


        <form action="http://localhost/HomeSwitchHome/admin/residencias/editar?id_residencia={{ residencia.id }}" enctype="multipart/form-data" onsubmit="return validarModificarResidencia();" method="post">
          <img class="bd-placeholder-img rounded-circle" src="app/img/HSH-Logo.jpg" alt="" width="90" height="90">

          {% if nombre_existente == 1 %}
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong class="animated flash"><span class="glyphicon glyphicon-exclamation-sign"></span> Error: </strong> No se puede editar la residencia porque ya existe una con ese nombre.
            </div>
          {% endif %}

          {% if sin_error == 1 %}
            <div class="alert alert-success alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong class="animated flash"> <span class='glyphicon glyphicon-ok-sign'></span> Nota:</strong> La residencia se ha modificado con éxito!
              <a class="comun" href="http://localhost/HomeSwitchHome/admin/operaciones/editarResidencias"> Volver atrás</a>
            </div>
          {% endif %}



          <h1 id="titulo_form"class="h3 mb-3 font-weight-normal animated flash">Ingrese los nuevos datos de la residencia:</h1>

          <span class="glyphicon glyphicon-exclamation-sign"></span> Tenga en cuenta que debe modificar al menos un campo</p>
          

          <div class="center-block form-group form">
            <label for="nombreM">Nombre:</label>
            <input type="text" pattern="[A-Za-z ñÑáéíóúÁÉÍÓÚ\s]+" title="Ingrese sólo letras" class="form-control" id="nombreM" placeholder="{{ residencia.nombre }}" value="{{ residencia.nombre }}" name="nombreM" oninput="habilitarSubmit();">
            <p class="animated shake" id="msjNombreM2"><span class="glyphicon glyphicon-exclamation-sign"></span> Debe ingresar solo letras.</p>
            
          </div>

          <div class="center-block form-group form">
            <label for="descripcionM">Descripcion:</label>
            <input type="text" class="form-control" id="descripcionM" placeholder="{{ residencia.descripcion }}" value="{{ residencia.descripcion }}" name="descripcionM" oninput="habilitarSubmit();">
            
          </div>

          <div class="center-block form-group form">
          	<label for="direccionM">Direccion:</label>
            <div class="row">
                <div class="col">
                  	<input type="text" class="form-control" id="calleM" oninput="habilitarSubmit();" placeholder="{{ residencia.calle }}" value="{{ residencia.calle }}" name="calleM">
                    <p class="animated shake" id="msjCalleM2"><span class="glyphicon glyphicon-exclamation-sign"></span> Debe ingresar solo caracteres alfanuméricos.</p>
 
                    
                </div>
                <div class="col">
                	<input type="number" min="1" pattern="[A-Za-z ñÑáéíóúÁÉÍÓÚ\s]+" class="form-control" oninput="habilitarSubmit();" id="alturaM" placeholder="{{ residencia.altura }}" value="{{ residencia.altura }}" name="alturaM">
                  <p class="animated shake" id="msjAlturaM2"><span class="glyphicon glyphicon-exclamation-sign"></span> Debe ingresar solo números.</p>

            	</div>
            </div>
          </div>

          <div class="center-block form-group form">
          	<div class="row">
                <div class="col">
                  	<input type="text"  pattern="[A-Za-z ñÑáéíóúÁÉÍÓÚ\s]+"  oninput="habilitarSubmit();" title="Ingrese sólo letras" class="form-control" id="ciudadM" placeholder="{{ residencia.ciudad }}" value="{{ residencia.ciudad }}" name="ciudadM">
                    <p class="animated shake" id="msjCiudadM2"><span class="glyphicon glyphicon-exclamation-sign"></span> Debe ingresar solo letras.</p>

                    
                </div>
                <div class="col">
                	<input type="text" pattern="[A-Za-z ñÑáéíóúÁÉÍÓÚ\s]+" title="Ingrese sólo letras" oninput="habilitarSubmit();" class="form-control" id="provinciaM" placeholder="{{ residencia.provincia }}" value="{{ residencia.provincia }}" name="provinciaM">
                  <p class="animated shake" id="msjProvinciaM2"><span class="glyphicon glyphicon-exclamation-sign"></span> Debe ingresar solo letras.</p>

            	</div>
            </div>
           </div>

	          <div class="center-block form-group form">
	          	
	            <label for="capacidadM">Capacidad:</label>
	            <input type="number" min="1" class="form-control" oninput="habilitarSubmit();" title="Ingrese un número mayor a 0" id="capacidadM" placeholder="{{ residencia.capacidad }}" value="{{ residencia.capacidad }}" name="capacidadM">
              <p class="animated shake" id="msjCapacidadM2"><span class="glyphicon glyphicon-exclamation-sign"></span> Debe ingresar un número mayor a 0.</p>

	           </div>

	           <div class="center-block form-group form">
		            <label for="foto">Foto:</label>
		            <input type="file" class="form-control-file border" value="{{ residencia.foto }}" oninput="habilitarSubmit();" id="fotoM" name="fotoM">
				        
	            </div>
	           

            {% if pendientes == true %}

                <button type="submit" class="btn btn-secondary" disabled>Modificar residencia</button>   
               


            {% else %}

	              <button id="submitModificar" type="submit" class="btn btn-secondary" disabled>Modificar residencia</button>

            {% endif %}  {# end if de pendientes  #}
	        


          </div>

      </form>



      <br>
    </div>
  </body>
{% endblock %}
{% block appContenido %}

{% endblock %}
    
{% block appBody %}

{% endblock %}