{% extends 'overall/layout' %}
{% block appHeader %}

        <div id="navbar">

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <!-- Brand -->
          <a class="navbar-brand" href="http://localhost/HomeSwitchHome/"><div><img src="app/img/HSH-Text.jpg" class="img-responsive" title="Logo Home Switch Home" style="width:180px;"></div></a>

          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="http://localhost/HomeSwitchHome/usuarios/operaciones/perfil"><span class="glyphicon glyphicon-user"></span>  Mi perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost/HomeSwitchHome/usuarios/cuenta/logout"><span class="glyphicon glyphicon-log-out"></span>   Cerrar Sesion</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle my-2 my-lg-0" href="#" id="navbardrop" data-toggle="dropdown">
                More
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-question-sign"> FAQs</a>
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-envelope"> Contacto</a>
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Subastas</a>
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Hotsales</a>
              </div>
            </li>
          </ul>
        </nav>

        </div> 
    {% endblock %}

{% block carrousel %}
	
	<div id="div_listar_residencias" class="py-5 bg-light">
	    <div class="container">
        <div class="container">
          <a href="http://localhost/HomeSwitchHome?ciudad={{ ciudad }}&fecha_desde={{ fecha_desde }}&fecha_hasta={{ fecha_hasta }}"><button id="atras" class="btn btn-secondary my-2">Atrás</button></a>
        </div>
        <br>
        

       <p class="lead text-muted">Resultados para "{{ ciudad }}" entre las fechas "{{ fecha_desde|date("d/m/Y") }}" y "{{ fecha_hasta|date("d/m/Y") }}": </p>

        
      <br>
      
      {% if residencias == null %}
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong class="animated flash"><span class="glyphicon glyphicon-exclamation-sign"></span></strong> ¡Lo sentimos! No hay residencias que coincidan con el criterio de búsqueda.
        </div>
      {% endif %}

      <div class="row">
              
      	{% for r in residencias %}

        <div id="card_residencia" class="col-md-4">
          <div id="card_residencia" class="card mb-4 shadow-sm">
            <p id="nombre_residencia" class="lead text-muted">{{ r.nombre }}:</p>
            <div class="container">
              <p class="disponible animated flash"><span class="glyphicon glyphicon-comment"></span> Hay {{ r.cantidad_disponibles }} estadias disponibles</p>
            </div>
            <img id="div_resultados_filtro" src="{{ r.foto }}" class="card-img-top">
            <div class="card-body">
              <div id="p_card">
                <p><span class="glyphicon glyphicon-map-marker"></span> {{ r.calle }}, {{ r.altura }}, {{ r.ciudad }}, {{ r.provincia }}</p>
                <p class="card-text"> {{ r.descripcion }}</p>
              </div>

              <div class="center-block">
                <div id="botones" class="container btn-group">
                  <a href="http://localhost/HomeSwitchHome/usuarios/verDetalleResidencia/{{ r.id_residencia }}"><button type="button" class="btn btn-secondary my-2">Ver detalle de residencia</button></a>
                </div>

              </div>
            </div>
          </div>
        </div>

        {% endfor %}
    
      </div>

      
    </div>
	</div>
	
	   
{% endblock %}
{% block appContenido%} {% endblock %}
{% block appBody%} {% endblock %}