{% extends 'overall/layout' %}
{% block appHeader %}

        <div id="navbar">

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <!-- Brand -->
          <a class="navbar-brand" href="http://localhost/HomeSwitchHome/"><div><img src="app/img/HSH-Text.jpg" class="img-responsive" title="Logo Home Switch Home" style="width:180px;"></div></a>

          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="http://localhost/HomeSwitchHome/usuarios/cuenta/logout"><span class="glyphicon glyphicon-log-out"></span>   Cerrar Sesion</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle my-2 my-lg-0" href="#" id="navbardrop" data-toggle="dropdown">
                More
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-question-sign"> FAQs</a>
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-envelope"> Contacto</a>
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Subastas</a>
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Hotsales</a>
              </div>
            </li>
          </ul>
        </nav>

        </div> 
    {% endblock %}

{% block carrousel %}
  
  <div class="py-5 bg-light">
      <div class="container">
        {% if data.sin_error == 1 %}
          <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="animated flash"> <span class='glyphicon glyphicon-ok-sign'></span> Nota:</strong> La subasta se ha creado con éxito!
          </div>
        {% endif %}

         <!-- error por falta de anticipacion-->
        {% if data.error_anticipacion == 1 %}
          <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="animated flash"><span class="glyphicon glyphicon-exclamation-sign"></span> Error: </strong> Las subastas deben crearse con un minimo de 6 meses de anticipación.
          </div>
        {% endif %}

        <!-- error por subasta existente para esa estadia-->
        {% if data.subasta_existente == 1 %}
          <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="animated flash"><span class="glyphicon glyphicon-exclamation-sign"></span> Error: </strong> Ya existe una subasta para esa estadía.
          </div>
        {% endif %}

        <p class="lead text-muted">Lista de estadías: </p>

        <div class="row">

          {% for e in estadias %}

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              
              <div class="card-body">
                <p class="card-text"> Semana de la estadia: {{ e.semana }}</p>
                <p class="card-text"> Monto de la estadía: {{ e.monto }}</p>
                <p class="card-text"> Residencia: {{ e.nombre }}</p>
                <div>
                  
                  <form action="http://localhost/HomeSwitchHome/admin/subastas/insertar?id_estadia={{ e.id_estadia }}" onsubmit="return validarAgregarSubasta({{ e.id_estadia }});" enctype="multipart/form-data" method="post"> 
                    <div class="center-block form-group form">
                      <label for="monto{{ e.id_estadia }}">Monto minimo:</label>                      
                      <input type="text" id="monto{{ e.id_estadia }}" name="monto{{ e.id_estadia }}"> 
                    </div>
                    <button type="submit" class="btn btn-secondary my-2">Crear subasta</button>
                  </form>

                </div>

              </div>
            </div>
          </div>

          {% endfor %}
      
        </div>

        
      </div>
  </div>
  
     
{% endblock %}
{% block appContenido%} {% endblock %}
{% block appBody%} {% endblock %}