{% extends 'overall/layout' %}
{% block appHeader %}
  <div id="navbar">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="http://localhost/HomeSwitchHome/"><div><img src="app/img/HSH-Text.jpg" class="img-responsive" title="Logo Home Switch Home" style="width:180px;"></div></a>

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost/HomeSwitchHome/usuarios/operaciones/perfil"><span class="glyphicon glyphicon-user"></span>  Mi perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost/HomeSwitchHome/usuarios/cuenta/logout"><span class="glyphicon glyphicon-log-out"></span>   Cerrar Sesion</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle my-2 my-lg-0" href="#" id="navbardrop" data-toggle="dropdown">
            More
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="http://localhost/HomeSwitchHome/usuarios/faqs"><span class="glyphicon glyphicon-question-sign"> FAQs</a>
            <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Subastas</a>
            <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Hotsales</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
{% endblock %}

{% block carrousel %}

  <div class="py-5 bg-light">
      <div class="container">

        <div class="container">
          <a href="http://localhost/HomeSwitchHome"><button id="atras" class="btn btn-secondary my-2">Atrás</button></a>
        </div>
        <p class="lead text-muted">Lista de subastas: </p>

        {% if subastas == false %}
          <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="animated flash"><span class="glyphicon glyphicon-exclamation-sign"></span></strong> ¡Lo sentimos! Todavía no hay ninguna subasta creada.
          </div>

        {% else %}

        <div class="row">


          {% for s in subastas %}

          <div class="col-md-4">
            <div id="div_subasta" class="card mb-4 shadow-sm">

              <div class="card-body">
                <img id="card_foto_residencia" src="{{ s.foto }}" class="card-img-top" >
                <p class="card-text"> &nbsp; </p>
                <p class="card-text"><span class="glyphicon glyphicon-ok"></span><strong> Residencia: </strong>{{ s.nombre }}</p>
                <p class="card-text"><span class="glyphicon glyphicon-ok"></span><strong> Semana:</strong> {{ s.semana }} (Fecha de inicio: {{ s.fecha|date("d/m/Y") }})</p>
                <p class="card-text"><span class="glyphicon glyphicon-map-marker"></span><strong> Ciudad:</strong> {{ s.ciudad }}</p>
                <p class="card-text"><span class="glyphicon glyphicon-map-marker"></span><strong> Provincia:</strong> {{ s.provincia }}</p>


                <div class="d-flex justify-content-between align-items-center">
                  <div id="botones" class="btn-group">
                    <a href="http://localhost/HomeSwitchHome/subastas/detalle/{{ s.id_subasta }}"><button class="btn btn-secondary my-2">Ver detalles</button></a>
                    {% if s.estado == 'CERRADA' %}
                      <strong> Subasta cerrada. </strong>
                    {% elseif s.estado == 'PENDIENTE' %}
                      <strong> Subasta pendiente ({{ s.fecha|date_modify('-6 month')|date("d/m/Y") }}) </strong>
                    {% else %}
                      <strong> ¡La subasta está activa! </strong>
                    {% endif %}

                  </div>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}


          {% endif %}
        </div>


      </div>
  </div>


{% endblock %}
{% block appContenido%} {% endblock %}
{% block appBody%} {% endblock %}
