<!DOCTYPE html>
<html lang="en">
<head>
    {# Formato #}
    {{ base_assets()|raw }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {# Importo Bootsrap #}
    <link rel="stylesheet" href="app/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/css/estilos.css">
    <link rel="stylesheet" href="app/css/animate.css">
    {# Glyphicons #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--iconos del footer-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{ config.build.name }}</title>
</head>



<body>

    {% block appHeader %}

        <div id="navbar">

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <!-- Brand -->
          <a class="navbar-brand" href="http://localhost/HomeSwitchHome/"><div><img src="app/img/HSH-Text.jpg" class="img-responsive" title="Logo Home Switch Home" style="width:180px;"></div></a>

          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="http://localhost/HomeSwitchHome/usuarios/registro/registrar"><span class="glyphicon glyphicon-user"></span>  Registrarse</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost/HomeSwitchHome/usuarios/cuenta/iniciar"><span class="glyphicon glyphicon-log-in"></span> Iniciar Sesión </a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                More
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-question-sign"> FAQs</a>
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-envelope"> Contacto</a>
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Subastas</a>
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Hotsales</a>
              </div>
            </li>
          </ul>
        </nav>

        </div>
    {% endblock %}


    {% block carrousel %}
        <div id="carrusel" class="carru">
            <div id="demo" class="carru carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                </ul>
                <div class="carru carousel-inner">
                    <div class="carru carousel-item active">
                        <img src="app/img/residencias/residenciaPrueba.jpg" focusable="false" role="img" width="100%" height="100%" alt="Los Angeles">
                        <div class="carousel-caption">
                            <h3>Córdoba</h3>
                            <p>We had such a great time in LA!</p>
                        </div>
                    </div>
                    <div class="carru carousel-item">
                        <img src="app/img/residencias/residenciaPrueba2.jpg" width="100%" height="100%" alt="Chicago">
                        <div class="carousel-caption">
                            <h3>Chicago</h3>
                            <p>Thank you, Chicago!</p>
                        </div>
                    </div>
                    <div class="carru carousel-item">
                        <img src="app/img/residencias/residenciaPrueba4.jpg" width="100%" height="100%" alt="New York">
                        <div class="carousel-caption">
                            <h3>New York</h3>
                            <p>We love the Big Apple!</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    {% endblock %}
    <br>

   {% block appContenido %}
        <section id="home" class="jumbotron text-center">
            <div class="container">
              <h1 class="jumbotron">Nuestras residencias:</h1>
              <p class="lead text-muted">Vea la lista de residencias disponibles en nuestra agencia para obtener toda la información de las mismas: ubicación, descripción, capacidad y más detalles; o use el buscador de residencias para encontrar más rápido todo lo que busca.</p>



              {% if get.error %}
                <div class="alert alert-danger alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong class="animated flash"><span class="glyphicon glyphicon-exclamation-sign"></span> Error:</strong> La búsqueda se debe realizar con un mínimo de 6 meses de anticipación, comenzando desde la fecha {{ "now"|date_modify("+6 month")|date("d/m/Y") }}, y el rango de fechas ingresado debe ser mayor o igual a una semana, y menor o igual a 2 meses.
                </div>
              {% endif %}

               <form class="buscador" action="http://localhost/HomeSwitchHome/filtros/filtrarEstadias" method="get">

                <p id="small" class="text-muted"><span class="glyphicon glyphicon-alert animated flash"></span> Buscar desde la fecha: {{ "now"|date_modify("+6 month")|date("d/m/Y") }}</p>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Ubicación</span><input type="text" pattern="[A-Za-z ñÑáéíóúÁÉÍÓÚ\s]+" title="Ingrese sólo letras" class="form-control" placeholder="Ingrese una ciudad" value="{{ get.ciudad }}" id="ubicacion" name="ubicacion" required>
                  </div>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-append">
                    <input type="date" class="form-control" value="{{ get.fecha_desde }}" placeholder="Fecha desde" id="fecha_desde" name="fecha_desde" required><span class="input-group-text">Fecha desde</span>
                  </div>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-append">
                    <span class="input-group-text">Fecha hasta</span><input type="date" class="form-control" value="{{ get.fecha_hasta }}" placeholder="Fecha hasta" id="fecha_hasta" name="fecha_hasta" required>
                  </div>
                </div>

                <button class="btn btn-secondary my-2" type="submit"><span class="glyphicon glyphicon-search"></span> Buscar residencias</button>
                <a href="http://localhost/HomeSwitchHome/residencias/listar" class="btn btn-secondary my-2">Ver listado de residencias</a>

              </form>
            </div>
        </section>

    {% endblock %}

    {% block appBody %}
        <div class="container-fluid row">
          <div class="container-fluid col-lg-4">
            <div class="container-fluid">
                <img id="fotoRedondelHL" src="app/img/home/subastas.png" class="bd-placeholder-img rounded-circle" >
            </div>
            <h2 class="center-block"><span class="glyphicon glyphicon-fire animated flash"></span> Subastas <span class="glyphicon glyphicon-fire animated flash"></h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="center-block btn btn-secondary" href="http://localhost/HomeSwitchHome/usuarios/subastas/verSubastas" role="button">Ver subastas</a></p>
          </div>
          <div class="col-lg-4">
            <div class="container-fluid">
                <img id="fotoRedondelHL" src="app/img/home/faqs.jpeg" class="bd-placeholder-img rounded-circle">
            </div>
            <h2 class="center-block"><span class="glyphicon glyphicon-question-sign animated flash"></span> FAQs <span class="glyphicon glyphicon-question-sign animated flash"></h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="center-block btn btn-secondary" href="http://localhost/HomeSwitchHome/usuarios/faqs" role="button">Ver FAQs</a></p>
          </div>
          <div class="col-lg-4">
            <div class="container-fluid">
                <img id="fotoRedondelHL" src="app/img/home/hotsale2.jpeg" class="bd-placeholder-img rounded-circle">
            </div>
            <h2 class="center-block"><span class="glyphicon glyphicon-fire animated flash"></span> Hotsales<span class="glyphicon glyphicon-fire animated flash"></h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="center-block btn btn-secondary" href="http://localhost/HomeSwitchHome/usuarios/hotsales/listar" role="button">Ver Hotsales</a></p>
          </div>
        </div>
        <br>

    {% endblock %}

    {% block appFooter %}

        <br><br>
        <footer id="footer" class="footer mt-auto py-3">
            <div class="main row">
                <div class="texto-footer col-md-3"><i class="fa">&#xf16d;</i><small> @homeswitchhome</small></div>
                <div class="texto-footer col-md-3"><i class="fa">&#xf082;</i><small> Home Switch Home</small></div>
                <div class="texto-footer col-md-3"><i class="fa">&#xf081;</i><small> @homeswitchhome</small></div>
                <div class="center-block col-md-3"><img id="imgFooter" class="center-block" src="app/img/PROSolutions2.jpg"></div>
            </div>
        </footer>

    {% endblock %}

    {# Sólamente necesario para facilitar las peticiones AJAX del generador, puede eliminarse #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {# Importo Bootsrap #}
    <script src="app/js/jquery-3.3.1.min.js"></script>
    <script src="app/js/popper.min.js"></script>
    <script src="app/js/bootstrap.min.js"></script>
    <script src="app/js/validaciones.js"></script>

</body>
</html>
