{% extends 'overall/layout' %}
{% block appHeader %}

        <div id="navbar">

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <!-- Brand -->
          <a class="navbar-brand" href="http://localhost/HomeSwitchHome/"><div><img src="app/img/HSH-Text.jpg" class="img-responsive" title="Logo Home Switch Home" style="width:180px;"></div></a>

          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="http://localhost/HomeSwitchHome/usuarios/operaciones/perfil"><span class="glyphicon glyphicon-user"></span>  Mi perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost/HomeSwitchHome/usuarios/logout"><span class="glyphicon glyphicon-log-out"></span>   Cerrar Sesion</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle my-2 my-lg-0" href="#" id="navbardrop" data-toggle="dropdown">
                More
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="http://localhost/HomeSwitchHome/usuarios/faqs"><span class="glyphicon glyphicon-question-sign"> FAQs</a>
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Subastas</a>
                <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-fire"></span> Hotsales</a>
              </div>
            </li>
          </ul>
        </nav>

        </div>
{% endblock %}

{% block carrousel %}
{% endblock %}

{% block appContenido %}

		<div class="border container">
		   	 <h2 class="residencia center-block">{{ hotsale.nombre }}</h2>
        <div class_"row">
          <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="animated flash"> <span class='glyphicon glyphicon-ok-sign'></span> Felicitaciones:</strong> Adquiriste el Hotsale!
          </div>
		      <ul class="list-group list-group-flush col-lg-8">

            <h4>Detalles:</h4>
            <li class="residencia list-group-item"><span class="glyphicon glyphicon-ok"></span> <strong> Fecha de inicio:</strong> {{ hotsale.fecha | date('d-m-Y') }}</li>
            <li class="residencia list-group-item"><span class="glyphicon glyphicon-ok"></span> <strong> Descripción: </strong>{{ hotsale.descripcion }}</li>
		        <li class="residencia list-group-item"><span class="glyphicon glyphicon-map-marker"></span><strong> Dirección:</strong> {{ hotsale.calle }}, {{ hotsale.altura }}, {{ hotsale.ciudad }}, {{ hotsale.provincia }}</li>
            <li class="residencia list-group-item"><span class="glyphicon glyphicon-user"></span> <strong> Usuario que adquirió el Hotsale: </strong>{{ usuario.apellido }}, {{ usuario.nombre }}</li>
            <li class="residencia list-group-item"><span class="glyphicon glyphicon-usd"></span> <strong> Monto del Hotsale: </strong>${{ hotsale.monto }}</li>
          </ul>
          <img id="foto_detalle_residencia" src="{{ hotsale.foto }}" class="residencia float-right col-lg-4" alt="Foto de residencia">


          <a href="http://localhost/HomeSwitchHome/usuarios/hotsales/listar"><button class="btn btn-secondary my-2" type="button" name="button">Volver al listado de Hotsales</button></a>

       </div>

    </div>
		<br>

{% endblock %}

{% block appBody %}
{% endblock %}
